<a href="https://colab.research.google.com/github/RaOOns/Coding-Algorithm/blob/main/Greedy%20%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98/%EC%88%AB%EC%9E%90%20%EC%B9%B4%EB%93%9C%20%EA%B2%8C%EC%9E%84/%EC%88%AB%EC%9E%90%20%EC%B9%B4%EB%93%9C%20%EA%B2%8C%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **min() 함수 활용**

In [1]:
### N, M을 공백으로 구분하여 입력받기
n, m = map(int, input().split())

result = 0


### 한 줄씩 입력 받아 확인
for i in range(n):
    data = list(map(int, input().split()))

    min_value = min(data)               # 현재 줄에서 "가장 작은 수" 찾기
    result = max(result, min_value)     # "가장 작은 수"들 중에서 "가장 큰 수" 찾기

print(result)

3 3
3 1 2
4 1 4
2 2 2
2

### **2중 반복문 구조를 활용**

In [2]:
### N, M을 공백으로 구분하여 입력받기
n, m = map(int, input().split())

result = 0


### 한 줄씩 입력 받아 확인
for i in range(n):
    data = list(map(int, input().split()))

    min_value = 10001                   # 현재 줄에서 "가장 작은 수" 찾기
    for a in data:
        min_value = min(min_value, a)

    result = max(result, min_value)     # "가장 작은 수"들 중에서 "가장 큰 수" 찾기

print(result)

2 4
7 3 1 8
3 3 3 4
3

### **응용: 선택된 숫자의 위치**

In [4]:
### N, M을 공백으로 구분하여 입력받기
n, m = map(int, input().split())

result = 0
row_ = -1
locate = []

### 한 줄씩 입력 받아 확인
for i in range(n):
    data = list(map(int, input().split()))

    min_value = min(data)               # 현재 줄에서 "가장 작은 수" 찾기
    result = max(result, min_value)     # "가장 작은 수"들 중에서 "가장 큰 수" 찾기

    row_ += 1
    if result <= min_value:
        locate.append([row_, data.index(min_value)])

print(result)
print(locate)

2 5
1 2 3 1
2 3 1 1
1
[[0, 0], [1, 2]]